/***********************************************
*
* 1. Fix line height in intro div
* 2. Fix flex in processes
* 
************************************************/

/********************************************
* GENERAL STYLING
********************************************/
* {
    font-family: 'Coda', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Regular columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Columns that have specific responsive logic */
.rspn-col-1 {width: 8.33%;}
.rspn-col-2 {width: 16.66%;}
.rspn-col-3 {width: 25%;}
.rspn-col-4 {width: 33.33%;}
.rspn-col-5 {width: 41.66%;}
.rspn-col-6 {width: 50%;}
.rspn-col-7 {width: 58.33%;}
.rspn-col-8 {width: 66.66%;}
.rspn-col-9 {width: 75%;}
.rspn-col-10 {width: 83.33%;}
.rspn-col-11 {width: 91.66%;}
.rspn-col-12 {width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px; /* adjust as needed */
    /*border: 1px solid blue;*/
}

.row{
    width: 100%;   
    float: left;
    /* pading: 15px */
    /*border: 1px solid blue;*/    
}


@media only screen and (max-width: 1065px) {
    /* For mobile phones or small screen: */
    [class*="col-"] {
        width: 100%;
        text-align: center;
    }
    
    
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

.img-responsive{
    max-width: 100%;
}

#container{
    /* Adjust to fill screen to preference */
    width: 100%;
    margin: auto; /* Keeps margin widths equal - only if width is less than 100% */
    font-family: sans-serif;
}

.parallax{
    background-image: url(images/universe.jpg);   
    height: 400px;
    line-height: 400px; /* must match height to center text within the div */   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;      
}

.city-background{
    height: 200px;
    background-image: url(Images/skyscraper.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************************************
* NAVBAR STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

/* Row for navigation logo */
.nav-logo
{
    background-image: url(Images/abstract.jpg);
    text-align: center;
}

/* Logo image styling */
.nav-logo img
{
    width: 400px;
    max-width: 100%;
}

.nav
{
    background-color: rgb(230,230,230);
    text-align: center;
}

.nav ul
{
    border: solid rgb(190,190,190) 1px;
}


.nav li
{
    font-size: 2.5em;
    display: inline;
    padding: 0 50px 0 50px;
    transition: background-color 0.5s;
}

@media only screen and (max-width: 800px)
{
    .nav li
    {
        display: block;
        border: solid rgb(190,190,190) 1px;
    }
}

@media only screen and (max-width: 450px)
{
    .nav li
    {
        font-size: 2.3em;
        padding: 0 5px;
        display: block;
        border: solid rgb(190,190,190) 1px;
    }
}


.nav li:hover
{
    cursor: pointer;
    background-color: rgb(210,210,210);
}


/* First media query */

@media only screen and (max-width: 1320px) {
    
}

/* Mobile Nav */

@media only screen and (max-width: 1032px) {
    .nav-left, .nav-right
    {
        visibility: hidden;                 
    }
    
}
/********************************************
* MAIN STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

.half-width
{
    /* Used for half width <hr> */
    width: 50%;
    margin: auto;
}

.three-quarters
{
    /* Used for three quarter width <hr> */
    width: 50%;
    margin: auto;
}
.nine-tenths
{
    width: 90%;
    margin: auto;
}
h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.2em; /* Make this h5 */
}
main{
    color: white;
}

p{
    font-size: 1.3em;
}
.blue{
    background-color: rgb(0, 79, 216);
}

.darker-blue{
    background-color: rgb(30, 78, 154);
}

.grey{
    background-color: rgb(220, 220, 220);
}

.lighter-blue{
    background-color: rgb(0, 89, 226);
}

.intro-div
{
    font-family: 'Lato', sans-serif;
    height: 500px;
    padding: 150px 100px;
    background-image: url(Images/modern-buildings_dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

.intro-div h1
{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.intro-div h3
{
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}



/* TURN THIS INTO SCRIPT */

@media only screen and (max-width: 1000px)
{
    .intro-div
    {
        padding: 150px 75px;
        height: 600px;
    }
}


/* Change font-sizes for smaller screens and change intro div height to fit text */
@media only screen and (max-width: 600px)
{
    .intro-div
    {
        padding: 100px 25px;
    }
    h1
    {
        font-size: 2.5em;
    }
    
    h2
    {
        font-size: 2em;
    }
    
    h3
    {
        font-size: 1.5em;
    }
}



.intro-div h1
{
    animation: IntroAppear 1s linear;
}

.intro-div h3
{
    animation: IntroAppear 2s linear;
}

@keyframes IntroAppear
{
    from {color: rgba(255,255,255, 0.0); top: -20px;}
    to   {color: rgba(255,255,255, 1); top: 0px;}
}

@media only screen and (max-width: 1400px)
{
    .intro-div-text
    {
        padding: 20px 20px 20px 20px;
    }
    
}


.intro-button
{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    text-transform: uppercase;
    background-color: rgb(0, 130, 255);
    border-radius: 5px;
    cursor: pointer;
}

.process-div
{
    padding: 10px 100px 10px 100px;; /* Lower this when screen size gets to certain point */
    color: black;
    background-color: rgb(245, 245, 245);
    padding-bottom: 20px;
}

@media only screen and (max-width: 500px)
{
    .process-div
    {
        padding: 0px;
    }
}

/* Intro div for process related information */
.process-intro-div
{
    background-color: rgb(210,210,210);
    color: rgb(80,80,80);
    text-align: center;
    animation-name: fromLeft;
}

@keyframes slideFromLeft
{
    0%
    {
        
    }
    
}

/* Row for grouping of process blocks */
.process-div-row
{
    width: 100%;
    float: left;
}

/* Process block - contains image and descriion for an individual process item */
.process-block
{
    display: flex;
}

/* Change process-block to block display to avoid containers with excessive height*/
@media only screen and (max-width: 1400px)
{
    .process-block
    {
        display: block;
    }
}


.process-block:hover
{
    
}

.process-block h2
{
    color: rgb(0, 89, 226);
    display: inline-block;
    text-align: left;
}



/* Image in a process block */
.process-block img
{
    float: left;
    max-width: 300px;    
    margin-right: 10px;
}


/* Fixes alignment issue in process div */
@media only screen and (max-width: 1488px) 
{
    .process-block img
    {
        float: none;
    }
    
    .process-block h2
    {
        display: block;
    }
}

@media only screen and (max-width: 1065px)
{
    .process-block h2
    {
        text-align: center;
    }
}

/******************************/
/********** SERVICES **********/
/******************************/

.services
{
    background-color: rgb(210,210,210);
}

.services p
{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.services-intro
{
    text-align: center;
    background-color: rgb(190,190,190);
    /*(padding-bottom: 20px;*/
}
.services-intro h1
{
    font-size: 4em;
    color: rgb(90,90,90);
    text-shadow: 1px 1px rgb(100,100,100);
}

.services-main
{
    display: flex;
    padding: 20px;
}

.service-block
{
    border-radius: 10px;
    border: 5px solid rgb(210,210,210);
    text-align: center;
    background-color: rgba(0, 119, 256, 1);
}

/* Change service-block to block display to avoid containers with excessive height*/
@media only screen and (max-width: 1065px)
{
    .services-main
    {
        display: block;
    }
}

.service-block h1
{
    background-color: rgba(0, 106, 246, 1);
}

.service-block h2
{
    cursor: pointer;
    background-color: rgba(0, 106, 246, 1);
    transition: background-color 0.3s ease-in;
}

.service-block h2:hover
{
    background-color: rgba(0, 96, 236, 1);
}

.service-block img
{
    max-width: 100%;
    margin-bottom: 10px;
}
.web-design, .seo
{
    text-align: center;
    padding: 20px 15px 20px 15px;;
}

.web-design-img img
{
    text-align: center;
    max-width: 100%;
}

.seo
{
    background-color: rgb(190,190,190);
    display: flex;
}

@media only screen and (max-width: 1065px)
{
    .seo
    {
        display: block;
    }
}


.seo-img-div
{
    text-align: center;
}

.web-design img, .seo img
{
    max-width: 100%;
    height: auto;
}

.web-design-desc h1, .seo-design-desc h1
{
    text-transform: uppercase;
    background-color: rgba(0, 89, 226, 0.8);
}


/* FIX COLOR DIFFERENCES */
.web-design-desc p,.seo-design-desc p
{
    padding: 15px;
    color: white;
    background-color: rgba(0, 99, 236, 0.8);
}

.web-design-desc h2, .seo-design-desc h2
{
    text-transform: uppercase;
    background-color: rgba(0, 99, 236, 1);
    padding: 5px 0;
}

.web-design-desc h2:hover, .seo-design-desc h2:hover
{
    cursor: pointer;
    background-color: rgba(0, 99, 236, 0.5);
}

.seo-design-desc, .web-design-desc
{
    padding: 20px;
    text-align: center;

}

@media only screen and (max-width: 750px)
{
    .seo-design-desc, .web-design-desc
    {
        padding: 0px;
    }
}

.seo img, .web-design img
{
    max-width: 100%;
    height: auto;
}

.reasons
{
    text-align: center;
    background-image: url(Images/watch_black.jpg);
    background-position: bottom;
    padding-bottom: 20px;
    
}

.reasons-header
{
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}

.reasons-header h1
{
    text-transform: uppercase;
}

.reasons-header h3
{
    color: rgb(210,210,210);
}

@keyframes moveFromLeft
{
    from {left: 0px;}
    to {text-align: center;}
}

/******************************
********** PORTFOLIO **********
******************************/

.portfolio
{
    background-color: white;
    color: rgb(90,90,90);
}

.portfolio-header
{
    text-align: center;
    padding: 10px;
}

.portfolio-header h1
{
    font-size: 4em;
}


/******************************/
/********** MEET ME ***********/
/******************************/

.meet-me
{
    background-color: rgb(210,210,210);
    color: rgb(80,80,80);
    padding: 20px;
}

.pic-div
{
    text-align: center;
}

.pic-div img
{
    max-width: 100%;
}
.meet-me-pic
{
    border-radius: 300px;
}

.meet-me-description
{
    
}

.meet-me-description h1
{
    text-align: left;
    padding-left: 15px;
    background-color: rgb(190,190,190);
    margin-bottom: 20px;
}

@media only screen and (max-width: 1065px)
{
    .meet-me-description h1
    {
        text-align: center;
    }
}

.skills-div
{
    text-align: center;
}





.main-text-div
{
    font-size: 1.2em;
}

.main-img-div
{
    text-align: center;
}

/********************************************
* SERVICES STYLING
*
*
********************************************/

/********************************************
* SERVICES MODAL
*
*
********************************************/

/* This class greys out the background to make the modal more apparent*/
.modal{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* This is the actual service modal */
.services-modal{
    color: black;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    width: 50%;
    animation-name: modalAppear;
    animation-duration: 0.4s;
}

@media only screen and (max-width: 750px)
{
    .services-modal
    {
        width: 90%;
    }
}

/* Animation for modal */

@keyframes modalAppear
{
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}



#close{
    float: right;
    font-size: 2.5em;
    font-weight: bold;
}

#close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.service-header{
    color: white;
    padding: 20px;
    background-color: rgb(31, 82, 164);
}

#service-form{
    padding: 20px;
    margin-top: 10px;
}

#service-form label{
    font-weight: bold;
    display: block;
    border-bottom: 1px solid grey;
}

/* Used for form submission results. Not displayed by default */
#result
{
    display: none;
    text-align: center;
    padding: 100px;
}

input, select, textarea{
    width: 100%;
    font-size: 1.1em
}

input, select, textarea{
    padding: 12px 20px;
    margin: 8px 0;
}

textarea{
    resize: none;
}

input[type=text]:focus{
    border: 3px solid #ccc;
}

input[type=submit]{
    color: white;
    background-color: rgb(31, 82, 164);
    
}

input[type=submit]:hover{
    background-color: rgb(11, 62, 144); 
}

/********************************************
* SLIDESHOW STYLING
*
* This is the styling for slideshows
********************************************/


/********************************************
* PORTFOLIO STYLING
*
* 
* 
********************************************/


/********************************************
* MEET ME STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

/********************************************
* FOOTER STYLING
*
* The navbar changes into an accordion style
* once screen size reaches a certain minimum
********************************************/

footer
{
    height: 75px;
    background-color: rgb(60,60,60);
    line-height: 75px;
    text-align: center;
    color: white;
}
